* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none !important;
}

.horizontal-scroll {
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.pin-wrap {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  overflow: hidden;
}


._top, ._bottom {
  height: 100vh;
  width: 100%;
}


._figure {
  z-index: -1;
  height: 100vh;
  width: 100vw;
}

._figure_inner {
  transform: scale(2.5);
}



._figure_2 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #fff;
  flex-shrink: 0;
  height: 100vh;
  padding: 8rem 2rem;
}

._center_first_img {
  position: relative;
  padding-left: 12rem;
  display: flex;
  align-items: center;
  height: 100%;
  img {
    height: 100%;
  }


  ._marquee_3 {
    position: absolute;
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
    flex-shrink: 0;
    right: -1700px;

    ._gsap_marquee_3 {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      font-size: 160px;
      white-space: pre-wrap;

      .line {
        height: 3px;
        width: 100px;
        margin-left: 3rem;
        margin-right: 3rem;
        background-color: black;
      }
    }
  }

}

._top_img {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 24rem;
  height: 100%;

  img {
    max-height: 450px;
  }
}

._bottom_img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding-left: 12rem;

  img {
    max-height: 450px;
  }
}

._center_2_img {
  display: flex;
  height: 100%;
  padding-left: 12rem;
  padding-right: 6rem;


  ._center_2_img_parent {
    position: relative;

    img {
      height: 100%;

      &.child {
        position: absolute;
        height: 70%;
        top: 50%;
        left: 30%;
        transform: translate(50%, -50%);
      }
    }
  }
}


._video {
  height: 100%;
  padding-left: 12rem;
  padding-right: 12rem;

  ._video_container {
    height: 100%;
    max-width: 1000px;
  }

  video {
    height: 100%;
    max-width: 1000px;
  }
}


.hidden {
  display: none !important;
}